body{
  background-image:url('bg123.png'); background-size:100%; height:100%;
}
h1{
  color:brown;
  text-align:center;
  font-family:cursive;
}
h2{
  color:Red;
  text-align:center;
  font-family:cursive;font-size: 120%

}
h3{  color:black;
  text-align:center;
  font-family:cursive;font-size: 120%

}
h4{
  color:green;
  text-align:center;
  font-family:cursive;font-size: 120%
}
